
.info-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .info-details {
  width: 95%;
  height: auto;
  background-color: whitesmoke;
  margin-top: 10px; //100
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .About-recicle{
    font-family: system-ui;
    font-weight: 600;
    color: #212121;
    font-size: 26px;
    padding:0 0 0 10px;

  }

  .About2-recicle{
    font-family: system-ui;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    padding:0 0 0 10px;
  }
    .about2-extra-info{
    font-weight: 400;
    color: #212121;
    font-size: 17px;
    font-family: system-ui;
    padding:10px 10px 10px 10px;
    .about2-extra-info-strong{
      font-weight: 600;
      color:#334236;
    }
    }
  }
}
.tenta {
    display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding-left: 2.5%;
  padding-right: 2.5%;
  .common-btn {
    width: 24%;
    height: 70px;
    cursor: pointer;
    background-color: #334236;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    
  }
 
  .common-btn:hover {
    background-color:#7B9D82;
    
    color: #334236
    ;
  }
}

.info-modal{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.common-btn2 {
  width: 40%;
  height: 70px;
  cursor: pointer;
  background-color: #334236;
  border-radius: 20px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  
}
.common-btn2:hover {
  background-color:#7B9D82;
 
  color: #334236
  ;}

.info-but {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
.common-btn3{ 
  width: 26%;
  cursor: pointer;
  background-color: #334236;
  border-radius: 20px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;

}
.common-btn3:hover {
  background-color:#7B9D82;
  
  color: #334236
  ;
} 