.body-container {
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: column;
    position: relative;

    .carrousel-body{
        margin: 2.5%;
        background: #5b7460;
        width: 95%;
        color: #fff;
        line-height: 160px;
        align-self:  center;
    }
    .carrousel-img{
   
        margin: 2.5%;
        width: 95%;
        color: #fff;
        line-height: 160px;
        align-self:  center;
        background: #7B9D82;
    }}